<h2 align="center">Title: <%= @product.title%></h2>
<div align="center">
  <h4 class="description"><strong>Description:
    </strong></h4>
  <%= simple_format(@product.description)%>
  <hr>
  <h5 class="price"><strong>Price:
    </strong><%="$#{@product.price}"%></h5>

  <div class="product-actions row">
    <%= link_to  "Edit this product", edit_product_path(@product), class: "btn btn-xs btn-primary" %>
    <%= link_to  "View all products", products_path, class: "btn btn-xs btn-success ml-2" %>
    <%= link_to 'Delete this listing', product_path(@product), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-xs btn-danger ml-2"%>
  </div>
</div>
<br>

<%= form_with(model: [@product, @review], local: true) do |f| %>
<% if @review.errors.any? %>
<ul>
  <% @review.errors.full_messages.each do |msg|%>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<div class="form-group">
  <div class="col-sm-4">
    <%= f.text_area :body,rows:5,class: "form-control", placeholder: "Drop a review!", autofocus: true %>
  </div>

  <div class="col-sm-2">
    <%= f.text_field :rating, class: "form-control mt-3", placeholder: "Rate 1-5", autofocus: true %>
  </div>
</div>

<div class="col-sm-offset-4">
  <%= f.submit class: 'btn btn-primary create-btn' %>
</div>
<% end %>


  <div class="row" align="center">
    <% @reviews.each do |review| %>
      <div class="col-sm-4">
          <div class="product-review">
            <%= review.body %>
          </div>
          <div class="product-rating">
            <%= "Rating: #{review.rating}"%>
          </div>

          <div class="col-sm-offset-4 col-sm-2">
            <%= link_to("Delete",product_review_path(@product, review),method: :delete,data: {confirm: "Are you sure?"},class: 'btn btn-primary del-btn')%>
          </div>
          <p class="product-answer"> Answered <%= time_ago_in_words(review.created_at) %> ago </p>
        </div>
  <% end %>



